In [1]:
import pandas as pd

In [2]:
# # Задание 1

ratings = pd.read_csv('ratings.csv')
df = ratings.groupby('userId').agg({'timestamp': ['min', 'max'], 'rating': 'count'})
df['time_life'] = df['timestamp']['max'] - df['timestamp']['min']
result = df[df['rating']['count'] > 100]
mean_time_life = result['time_life'].mean()
mean_time_life

40080507.4496124

In [3]:
# задача 2

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base



joined1 = client_base.merge(air, on='client_id', how='left')
joined2 = joined1.merge(auto, on='client_id', how='left')
table2 = joined2.merge(rzd, on='client_id', how='left')
table1 = table2[['client_id', 'air_revenue', 'auto_revenue', 'rzd_revenue']]
table1

   client_id  air_revenue  auto_revenue  rzd_revenue
0        111          NaN           NaN       1093.0
1        112          NaN           NaN       2810.0
2        113          NaN       57483.0      10283.0
3        114          NaN          83.0       5774.0
4        115         81.0         912.0        981.0
5        116          4.0        4834.0          NaN
6        117         13.0          98.0          NaN
7        118        173.0           NaN          NaN

In [ ]:
# Задание 3

# В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. 
# Т. е. для каждого user_id известна последовательность координат (широта/долгота), 
# когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в 
# таблицу визитов и покупок? Для составления ответа можно использовать вопросы:
# У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки 
# скорее всего потребуется одно-два числа. Как их получить?
# Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. 
# Как это отразится на вопросе расчетах пункта 1?
# Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами 
# по себе мало что дают.

# Создать отдельную "справочную" таблицу, содержащию  id клиента, номер визита и координаты.
# На основе координат можно добавить в таблицу столбцы с регионом, районом или областью.
# Координаты можно будет получать по связке id клиента и номера визита, 
# что бы разные визиты одного пользователя имелим корректные координаты